*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.backgroundSection{
    min-height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    position:fixed;
    z-index: -1;
    opacity:40%;
    filter:blur(5px);
}   