.largeMainText{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: clamp(30pt, calc(7vw + 1rem) ,50pt);
    border-radius: 10px;
    padding:min(0.7em,7%);
    color:#E0E0E0;
    animation: glowingBackground 4s infinite ease-in-out,
                TextLoader 0.5s ease forwards;
    will-change: transform, opacity;
}

.largeMainTextVanish{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 50pt;
    border-radius: 10px;
    padding:40px;
    color:#E0E0E0;   
    animation: TextVanish 0.25s ease forwards;
    will-change: transform;
    position: absolute;
}
@keyframes glowingBackground {
    0%{
        border:3px solid #88888800 ;
    }
    50%{
        border:3px solid #88888831 ;
    }
    100%{
        border:3px solid #88888800 ;
    }

}
@keyframes  TextLoader {
    0%{
        transform: translateY(-200px);
        opacity: 0%;
    } 
    50%{
        opacity: 10%;
    }   
    100%{
        transform: translateY(0);
        opacity:100%;
        display:flex;      
    }
}
@keyframes TextVanish {
    0%{
        transform: translateY(0);
        opacity:100%
    }
    50%{
        opacity: 10%;
    }   
    100%{
        transform: translateY(-200px);
        opacity: 0%;
        display: none;       
    } 
}