@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.mainContentArea{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow:1;

    /* adding a vignette i got this from google */
    background: radial-gradient(circle, transparent 55%, #121212 85%);
}
